<div class="intro-header">
  <div class="wrapper-masthead">
    <div class="container">
      <header class="masthead clearfix">
        <div class="site-info">
          <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
          <p class="site-description">
            {{ site.description }} <span id="flip-word">{{ site.descriptionDetails[0] }}</span>
          </p>
        </div>
        <nav>
          {% if page.lang == "cn" %}
            <a href="{{ site.baseurl }}/cn/blog">博客</a>
            <a href="{{ site.baseurl }}/cn/about">关于</a>
            <a href="{{ site.baseurl }}/cn">项目</a>
          {% elsif page.lang == "nl" %}
            <a href="{{ site.baseurl }}/nl/blog">Blog</a>
            <a href="{{ site.baseurl }}/nl/about">Over mij</a>
            <a href="{{ site.baseurl }}/nl">Projecten</a>
          {% else %}
            <a href="{{ site.baseurl }}/blog">Blog</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/">Projects</a>
          {% endif %}
          <span class="lang-switch">
            <a href="{{ site.baseurl }}/" {% if page.lang == nil or page.lang == "en" %}class="lang-active"{% endif %}>EN</a>
            <a href="{{ site.baseurl }}/cn" {% if page.lang == "cn" %}class="lang-active"{% endif %}>中文</a>
            <a href="{{ site.baseurl }}/nl" {% if page.lang == "nl" %}class="lang-active"{% endif %}>NL</a>
          </span>
        </nav>
      </header>
    </div>
  </div>
</div>
