<div class="container">
    <div class="space-small"></div>
   
    <div class="centered">
      <ul class="ch-grid">
        <li>
            <div class="ch-item ch-img-1">				
                <div class="ch-info-wrap">
                    <div class="ch-info">
                        <div class="ch-info-front ch-img-1"></div>
                        <div class="ch-info-back">
                            <h3>{{site.name}}</h3>
                            <p></br><a href="https://linkedin.com/in/{{ site.footer-links.linkedin }}">View on LinkedIn</a></p>
                        </div>	
                    </div>
                </div>`
            </div>
        </li>
    </ul>
</div>
     
     <div class="space-medium"></div>
    
</div>